.accountcontainer{
    display: flex;
    // border: 1px solid red;
    // align-items: center;
    min-height: 40px;
    width: 80%;
    margin: auto;
    flex-direction: column;
    padding: 20px 10px;

}
.header{
   margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
}
.boxcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #f7f3f3;
    padding: 20px 20px;
    width: 100%;
    .accountbox{
        border:1px solid #39953c;
        // border: 1px solid black;
        width: 30%;
        height: 88px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        
    }

}

.boxaccountcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    border: 1px solid rgb(9, 248, 128);
    padding: 20px 20px;
    width: 100%;
    margin-top: 50px;
    .boxaccount{
        border:1px solid black;
        border: 1px solid black;
        width: 30%;
        height: 172px;
        align-items: center;
        display: flex;
        justify-content: center; 
        border-radius: 10px;
    }
}