@use "../../../styles/media.scss";

.footercontainer {
  // border: 1px solid black;
  // margin-bottom: 30px;
  // margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #19781c7a;
  // padding: 15px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  @include media.onMdM() {
    border: 1px solid rgb(118, 118, 118);
    margin: 0px;
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    // height: 60px;
    display: flex;
    align-items: center;
    padding: 3px 0px;
    // display: none;
  }
  .mobileFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    z-index: 99;
    align-items: center;
    .footerMenu {
      display: flex;
      color: gray;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .icon {
        font-size: 30px;
      }
      .text {
        font-size: 10px;
      }
    }
    @include media.onMd() {
      display: none;
    }
  }
}

// .footerheading{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     margin-top: 20px;
//     width: 100%;
//     color:rgb(116, 25, 25)
//     // background-color: rgb(23, 95, 23);

// }
// .logo{
//     font-weight: 700;

//     font-size: 30px;
//     margin-left: 40px;
//     padding: 0px 20px;
// }
// .header{
//     font-weight: 500;
//     padding: 0px 35px;
//     font-size: 25px;

// }
// .paragraph{

//     font-size: 15px;
//     margin-left: 40px;
//     font-weight: 500;
// }
// .searchbar {
//     // border-radius: 6px;
//     // background-color:white;
//     overflow: hidden;
//     margin-left: 80px;

// }
.footerdetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  @include media.onMdM() {
    display: none;
  }
}
.footerdetails h1 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.footerdetails li {
  color: rgb(15, 59, 15);
}
