@use "../../../styles/media.scss";

.profilebgcontainer {
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 20px;
  padding: 20px 20px;
  background-color: rgb(231 226 226);
  border-radius: 5px;

  .profilecontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
  }

  .heading {
    height: 23%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    min-height: 80px;

    .accountIcon {
      font-size: 50px;
      color: green;
      margin-right: 15px;
    }

    .headingText {
      flex: 1;
    }

    @include media.onMdM() {
      height: auto;
      min-height: none;
    }
  }
  @include media.onMdM() {
    width: 100%;
  }
}

.leftcontainer {
  // border:1px solid blue;
  flex-direction: column;
  width: 30%;
  grid-gap: 25px;
  display: flex;

  .leftSubContainer {
    display: flex;
    // border: 1px solid red;
    border-radius: 5px;
    height: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;

    .smallSubContainers {
      display: flex;
      // border: "1px solid blue",
      width: 100%;
      padding: 20px;

      .icons {
        margin: 0px 20px;
        font-size: 30px;
        color: green;
      }
    }
  }
}

.rightbgcontainer {
  // border:1px solid black;s
  width: 70%;
  display: flex;
  background-color: white;
  border-radius: 5px;
  flex-direction: column;
  // align-items:center;
  // justify-content: space-around;
}

.rightcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  max-height: 100vh;
  // align-items:center;
  justify-content: space-around;

  .rightProductContainer {
    display: flex;
    max-width: 100%;
    overflow: auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
