@use "../../../styles/media.scss";

.component {
  position: sticky;
  top: 0;
  z-index: 99;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  .headerContainer {
    // background-color: rgba(14, 100, 14, 0.993);
    background-color: rgba(35, 52, 97, 0.993);
    min-height: 80px;
    display: flex;
    align-items: center;
    .content {
      height: 80%;
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: auto;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      .logoContainer {
        // border: 1px solid red;
        cursor: pointer;
        color: #ffffff;
        font-size: 40px;
        font-weight: 600;
        img {
          height: 50px;
          border-radius: 10px;
        }
        @include media.onMdM() {
          // display: none;
          img {
            height: 30px;
            border-radius: 5px;
          }
        }
      }
      .searchBarContainer {
        // border: 1px solid  rgb(6, 65, 14);
        // overflow: hidden;
        background-color: #ffffff;
        width: 60%;
        display: flex;
        border-radius: 5px;
        min-width: 415px;
        height: 50px;
        position: relative;
        .searchBbar {
          // border: 1px solid rgb(6, 65, 14);
          height: 100%;
          flex: 1;
          background-color: transparent;
          outline: none;
          padding: 0px 40px 0px 20px;
          font-size: 20px;
          color: #1d5510;
          width: 100%;
          @include media.onMdM() {
            font-size: 12px;
            max-height: 40px;
          }
          // border: 1px solid black;
        }
        .searchBbar::placeholder {
          color: #1d5510;
        }
        .searchButton {
          aspect-ratio: 1;
          height: 100%;
          // border: 1px solid yellow;
          // background-color: #5ae741;
          background-color: rgb(52, 189, 199);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          border-radius: 5px;
          .searchIcon {
            color: #ffffff;
            font-size: 30px;
          }
        }
        .searchListContainer {
          background-color: rgb(255, 255, 255);
          position: absolute;
          top: 40px;
          width: 100%;
          float: left;
          .searchList {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px 3px;
            .productImage {
              max-width: 30px;
              border-radius: 5px;
              margin-right: 10px;
            }
            &:hover {
              cursor: pointer;
              opacity: 0.5;
              transition: opacity 0.25s ease-in-out;
              background-color: #c5c5c5;
              border-radius: 5px;
            }
          }
        }
        @include media.onMdM() {
          min-width: 200px;
          width: 80%;
          // border: 1px solid purple;
          height: 30px;
        }
      }
      .rightIcon {
        // border: 1px solid #5ae741;
        display: flex;
        align-items: center;
        gap: 5px;
        @include media.onMdM() {
          display: none;
        }
      }
      .loginButton {
        background: #5ae741;
        color: white;
        font-size: 20px;
        height: 60%;
        padding: 10px 10px;
        min-width: 121px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }
      @include media.onMdM() {
        // border: 1px solid red;
        width: 95%;
      }
    }
    @include media.onMdM() {
      // border: 1px solid red;
      // width: 95%;
      // background-color: transparent;
      min-height: 60px;
    }
  }
  .navBar {
    background-color: whitesmoke;

    .navContent {
      min-height: 40px;
      // border: 1px solid red;
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .navItem {
        cursor: pointer;
        font-weight: 500;
      }
    }
    @include media.onMdM() {
      display: none;
    }
  }
}
