@use "../../../styles/media.scss";

.addButton {
  border: 1px solid #233461fd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  color: #233461fd;
  font-weight: 600;
  @include media.onMdM() {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
  }
}

.addRemoveButton {
  border: 1px solid #233461fd;
  background-color: #233461fd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;

  @include media.onMdM() {
    width: 100%;
    height: 35px;
    border-radius: 5px;
  }
}

.itemamt {
  font-weight: 600;
  color: rgb(240, 247, 242);
  font-size: 15px;
}
.increment {
  font-weight: 600;
  color: rgb(240, 247, 242);
  font-size: 24px;
  display: flex;
  align-items: center;
}
.decrement {
  font-weight: 600;
  color: rgb(240, 247, 242);
  font-size: 33px;
  display: flex;
  align-items: center;
}
