@use "../../../styles/media.scss";
.component {
  //   border: 1px solid red;
  background-color: #10ff0054;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  margin-top: 20px;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .cardContainer {
      gap: 10px;
      display: flex;
      flex-direction: row;
      flex: 1;
      //   border: 1px solid blue;
      overflow: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      .scrollItem {
        scroll-snap-align: start;
        display: inline-block;
        width: 100%; /* Set the desired width of each item */
        transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1); /* Adjust timing as needed */
        will-change: transform;
        transform-origin: 0% 50%;

        // &:hover {
        //   transform: scale(1.05); /* Bouncy effect on hover */
        // }
      }
      &::-webkit-scrollbar {
        display: none; /* Hide scrollbars for Chrome browsers */
      }
    }
    .arrowLeft {
      color: #208b16;
      font-size: 35px;
      cursor: pointer;
      @include media.onMdM() {
        display: none;
      }
    }
    .arrowRight {
      color: #208b16;
      font-size: 35px;
      cursor: pointer;
      @include media.onMdM() {
        display: none;
      }
    }
  }
  .header {
    font-weight: 600;
    font-size: 30px;
    color: #5f1010;
    text-align: center;
    @include media.onMdM() {
      font-size: 20px;
    }
  }
  @include media.onMdM() {
    padding: 5px 0px;
  }
}
/* HorizontalScroll.scss */

.scroll-container {
  width: 100%; /* Set the desired width */
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none; /* Hide scrollbars for Chrome browsers */
  }

  .scroll-item {
    scroll-snap-align: start;
    display: inline-block;
    width: 100%; /* Set the desired width of each item */
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1); /* Adjust timing as needed */
    will-change: transform;
    transform-origin: 0% 50%;

    &:hover {
      transform: scale(1.05); /* Bouncy effect on hover */
    }
  }
}
.productHomeSectionLoader {
  height: 500px;
}
