.productManagerContainer {
  width: 100%;

  .header {
    padding: 10px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    .searchBarContainer {
      display: flex;
      gap: 10px;
      h1 {
        font-size: 20px;
        font-weight: 600;
      }

      .searchInput {
        width: 200px;
      }
    }
  }
}

.tableContainer {
  width: 100%;
  max-height: calc(100vh - 200px);
}

.table {
  min-width: 650px;
}

.row {
  &:last-child {
    td,
    th {
      border: 0;
    }
  }

  cursor: pointer;
}

.actions {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
