@use "../../../styles/media.scss";
.productContainer {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1300px;
  margin: auto;
  @include media.onMdM() {
    flex-direction: column;
  }
  .productImages {
    // border: 1px solid black;
    // flex: 1;
    min-width: 300px;
    display: flex;
    gap: 5px;
    @include media.onMdM() {
      flex-direction: column-reverse;
    }
    .imageLists {
      // border: 2px solid green;
      min-width: 100px;
      @include media.onMdM() {
        display: flex;
        overflow: auto;
        max-width: 90%;
        margin: auto;
      }
      img {
        border: 1px solid rgba(87, 87, 87, 0.664);
        margin: 3px;
        @include media.onMdM() {
          max-width: 300px !important;
          max-height: 300px !important;
        }
      }
    }
    .fullSizeImage {
      display: flex;
      align-items: center;
      justify-content: center;
      // flex: 1;
      img {
        border: 1px solid rgba(87, 87, 87, 0.664);
      }
    }
  }
  .productDescriptions {
    // border: 1px solid blue;
    flex: 1;
    min-width: 400px;
    font-family: sans-serif;
    line-height: 25px;
    .brand {
      color: gray;
      text-decoration: underline;
    }
    .productName {
      font-weight: bold;
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
    }
    .mrp {
      color: gray;
    }
    .priceContainer {
      display: flex;
      .price {
        font-weight: 700;
        display: flex;
      }
      .priceValue {
        color: gray;
      }
    }
    .offer {
      color: blue;
    }
    .actionSection {
      margin-top: 10px;
      max-width: 130px;
    }
  }
}
