@use "../../../styles/media.scss";

.cardContainer {
  // border: 1px solid green;
  border-radius: 8px;
  min-width: 200px;
  min-height: 310px;
  max-width: 250px;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  aspect-ratio: 2/2.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  // width: 100%;
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  .discountLabel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 185, 0);
    width: 50%;
    align-self: center;
    color: white;
    padding: 3px 5px;
    border-radius: 10px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media.onMdM() {
      font-size: 12px !important;
    }
  }
  //  margin-left:15px
  @include media.onMdM() {
    min-width: 150px !important;
    min-height: 250px !important;
    max-width: 250px !important;
    // border: 1px solid red;
  }
}

.cardimg {
  width: 90%;
  max-width: 200px;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.cardinfo {
  margin-top: 10px;
  margin-left: 5px;

  .productName {
    font-weight: 600;
    margin-bottom: 10px;

    @include media.onMdM() {
      font-size: 12px;
      margin-bottom: 3px;
    }
  }
}

.details {
  bottom: 0;

  .priceInfo {
    font-size: 10px;
    font-weight: 400;
  }

  .price {
    font-size: 20px;
    font-weight: 600;
    color: rgb(75, 9, 9);

    @include media.onMdM() {
      font-size: 15px;
    }
  }
}

.cardlower {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.btn {
  background-color: #f5f5f5;
  border: 1px solid rgb(17, 158, 17);
  color: rgb(12, 182, 35);
  border-radius: 5px;
  width: 55px;
  margin-right: 10px;
  height: 36px;
  width: 90px;
  font-size: 15px;
  font-weight: 600;
}
