@use "../../../styles/media.scss";

.pageWrapper {
  width: 100%;
  .pageContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    width: 100%;

    .content {
      border: 1px solid green;
      width: 80%;
      @include media.onMdM() {
        display: none;
      }
    }
    @include media.onMdM() {
      height: 92%;
    }
  }
}
