@use "../../../styles/media.scss";

.pageWrapper {
  width: 100%;
  .pageContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;

    .content {
      // border: 1px solid green;
      border-left: 1px solid gray;
      width: 75%;
      @include media.onMdM() {
        display: none;
      }
    }
    @include media.onMdM() {
      height: 92%;
    }
  }
}
