@use "../../../styles/media.scss";

.container {
  background: url("/bg2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  .logoHeader {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    // font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    //   "Lucida Sans", Arial, sans-serif;
    padding: 30px 0px;
  }
  .bluryBackground {
    background-color: #ffffff5e;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    .loginbackground {
      background-color: #ffffff;
      // height: 80%;
      // position: absolute;
      bottom: 0;
      width: 90%;
      max-width: 500px;
      margin: auto;
      border-radius: 10px;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;

      .form {
        // border: 1px solid red;
        flex: 1;
        width: 80%;
        max-width: 300px;
        margin: auto;
        // border: 1px solid red;
        padding: 50px 0px;
        flex: 1;
        position: relative;
        .inputContainer {
          background-color: #5b5b5b4d;
          // border: 1px solid green;
          display: flex;
          padding: 0px 10px;
          align-items: center;
          height: 35px;
          border-radius: 8px;
          input {
            background: transparent;
            // border: 1px solid red;
            width: 100%;
            outline: none;
            height: 100%;
            padding: 0px 10px;
          }
          input::placeholder {
            color: #0d4b0d;
          }
        }
        .forgotPassword {
          color: #0d4b0d;
          text-align: right;
          cursor: pointer;
        }
        .loginButton {
          position: absolute;
          bottom: 40px;
          background-color: #0a3514;
          color: white;
          border-radius: 15px;
          padding: 3px;
          width: 100%;
          height: 40px;
          font-weight: 600;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.25s ease-in-out;
          }
        }
        .footerInstruction {
          color: #00000071;
          position: absolute;
          bottom: 10px;
          text-align: center;
          width: 100%;
          b {
            color: #0a3514;
            cursor: pointer;
          }
        }
      }
      .header {
        color: #0d4b0d;
        font-size: 40px;
        font-weight: 600;
        margin: 20px 0px 0px;
        text-align: center;
      }
      .subheader {
        color: #00000096;
        text-align: center;
      }
      @include media.onMdM() {
        height: 90%;
      }
    }
    @include media.onMdM() {
      height: 70%;
    }
  }
  .contentContainer {
    height: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    // border: 1px solid blue;
    p {
      text-align: left;
      font-size: 55px;
      font-weight: 600;
      width: 90%;
      margin: auto;
      color: #ffffff;
    }
    .buttonContainer {
      width: 100%;
      // border: 1px solid pink;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      .loginCard {
        background-color: rgba(180, 180, 180, 0.539);
        height: 40px;
        max-width: 90%;
        width: 90%;
        border-radius: 10px;
        color: #ffffff;
        font-size: 19px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        cursor: pointer;
      }
      .createAccount {
        color: #ffffff;
        font-family: inherit;
        cursor: pointer;
      }
      
    }
  }
}
