.ratingBgContainer {
    display: flex;
    width: 90%;
    margin: auto;
    // height: 100vh;

    .rightContainer {
        display: flex;
        flex: 1;
        // border: 1px solid green;
        min-height: 50px;
        flex-direction: column;
        padding: 30px 83px;

        .heading {
            font-size: 25px;
            font-weight: 600;
            margin-top: 20px;
        }

        .subHeading {
            display: flex;
            justify-content: space-between;
        }

        .totalReviews {
            margin-top: 20px;


        }
    }

    .customerReviewBgContainer {
        // border: 1px solid black;
        margin-top: 40px;
        height: 100%;
        overflow: auto;

        .customerReviewContainer {
            display: flex;
            // border-top: 4px solid rgb(137, 141, 137);
            // border-radius: 6px;
            min-height: 50px;
            padding: 10px 0px;
            // margin-top: 40px;
            // height: 50%;

            .customerDetails {
                flex: 1;
                // border: 1px solid red;
                display: flex;
                // align-items: center;
                justify-content: center;

                .customerImg {
                    border: 1px solid yellow;
                    aspect-ratio: 1;
                    height: 50%;
                    border-radius: 5px;

                    img {
                        height: 100%;
                        aspect-ratio: 1;
                    }

                }

                .customerAddress {
                    display: flex;
                    flex-direction: column;
                    padding: 0px 20px;
                    width: 100%;
                }
            }

            .customerReviews {
                flex: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                // border: 1px solid red;

            }
        }
    }


}