@use "../../../styles//media.scss";

.loading {
  min-height: 300px;
  @include media.onMdM() {
    min-height: 120px;
    border-radius: 10px;
  }
}
.component {
  // border: 1px solid red;
  // min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  // border: 1px solid red;
  .laftArrowContainer {
    position: absolute;
    left: 0px;
    z-index: 98;
    background: rgb(255, 255, 255);
    padding: 20px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    @include media.onMdM() {
      display: none;
    }
  }
  .rightArrowContainer {
    position: absolute;
    right: 0px;
    background: rgb(255, 255, 255);
    padding: 20px 0px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    @include media.onMdM() {
      display: none;
    }
  }
  .bannerContainer {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory; /* Enable horizontal scroll snapping */
    scroll-behavior: smooth; /* Enable smooth scrolling for a better user experience */

    img {
      margin: 5px;
      border-radius: 10px;
      // height: 60vh;
      @include media.onMdM() {
        // height: 100%;
      }
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  @include media.onMdM() {
    min-height: 120px;
    border-radius: 10px;
  }
  // .bannerContainer::-webkit-scrollbar {
  //   display: none;
  //   margin: auto;
  // }
}
