.component {
  border: 1px solid tomato;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 100px;
  justify-content: space-around;
  overflow: auto;
  .item {
    border: 1px solid rgb(173, 173, 216);
    height: 80px;
    width: 80px;
    min-width: 80px;
    // aspect-ratio: 1;
    border-radius: 100px;
    overflow: hidden;
    img {
      width: 100%;
      //   aspect-ratio: 1;
    }
  }
}
